@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }

  h1 {
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Limelight', sans-serif;
  }

  h2 {
    font-size: 1.5rem;
    
  }
  
  .btn{
    background-color: indigo;
    font-family: 'Limelight', sans-serif;
}

#progressBar {
    width: 80%;
    height: 3rem;
    margin-top: 2rem;
    display: none;
    vertical-align: baseline;
    bottom: 5%;
    
}

  h3 {
    font-size: 1.3rem;
  }


#choose {
    display: none;
    color: rgb(65, 5, 3);
    font-size: 1.5rem;
    border: 2px solid rgb(65, 5, 3);
    width: 30rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.5);
}
/* Welcome screen div styling */

img {
    border-radius: 1rem;
    margin-top: 5rem;
}

#quiz-prize {
  margin-top: 5rem;
}


#trivia-logo {
    display: none;
    margin-top: -3rem;
}

#popOut2, 
#popOut3, 
#popOut4 { 
    background-color: #3F00FF;
    color: white;
    width: 90%;
    height: 80%;
    border-radius: 1.5rem;
    background-image: linear-gradient(to right, rgb(121, 32, 223) , rgb(72, 228, 243));
    padding: 1rem;
    display: none;
    line-height: 2.5rem;
    align-items: center;
    margin-top: 5rem;
}

#playAgainButton {
    background-color: #007bff; 
    color: rgb(247, 237, 237); /* White text color */
    padding: 10px 20px; /* Padding around the text */
    font-size: 16px; /* Font size */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}

#playAgainButton:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}



/*-----------radioCorrect------------*/

.radioCorrect {
    display: none; 
}

#nextQbtn{
    display: none;
}

@media only screen and (min-width: 400px) {
  h1 {
      font-size: 3rem;
      margin-top: 1rem
    }
}

@media only screen and (min-width: 740px) {
h1 {
    font-size: 6rem;
    margin-top: 1rem
  }

  #trivia-logo {
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  #quiz-prize {
    margin-top: 3rem;
  }

  #home-image {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  img {
    margin-top: 3rem;
  }
  #quiz-prize {
    margin-top: 2rem;
  }
  #trivia-logo {
    width: 60%;
    margin-top: 0.5rem;
  }
  #home-image {
    width: 50%;
  }
}
